<script>
  window.$ = window.$ || ((sel) => document.querySelector(sel));
  window.addEventListener('pageshow', () => document.body.classList.remove('loading'));

  // document.addEventListener('click', (e) => {
  //   const anchor = e.target.closest('a');
  //   if (anchor && anchor.href && anchor.href !== '#') {
  //     e.preventDefault();
  //     navigateTo(anchor.href);
  //   }
  // });

  function navigateTo(url) {
    showLoadingBar();
    window.location.href = url;
  }

  function showLoadingBar() {
    document.body.classList.add('loading');
  }
</script>

<div id="loading-bar"></div>
