<style>
  #paketek {
    position: fixed;
    bottom: 15px;
    left: 15px;
  }

  #paketek img {
    width: 18px;
  }
</style>

<div id="paketek">
  <img src="public/img/paketek.png" alt="paketek" />
</div>

<script>
  const msg = <%- JSON.stringify(msg) %>;
  // console.log(msg);

  $('#paketek').onclick = () => {
    // open message
    openModal(msg.content);

    // mark as read
    fetch(`/busbus/msg/open?id=${msg._id}&ts=${new Date().valueOf()}`, { method: 'POST' });

    // hide paketek
    $('#paketek').classList.add('hidden');
  }
</script>
