<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head') %>
    <style>
      pre {
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <%- include('body-common') %>

    <pre><%- content %></pre>
  </body>
</html>
