<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
  </head>
  <body class="flex-center">
    <div id="mapContainer">
      <div id="map"></div>
      <div id="msg" class="">ISKANJE AVTOBUSA 206 ...</div>
    </div>

    <div class="live-dot live"></div>

    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"></script>
    <script src="static/js/leaflet.rotatedMarker.js"></script>

    <script src="static/js/Bus.js"></script>
    <script src="static/js/map.js"></script>


    <script>
      // NOTE: very crappy but works

      const $ = (sel) => document.querySelector(sel);
      const stopData = [];

      (async function () {
        const r = await fetch('/api/getBus/206');
        const j = await r.json();
        console.log(j);
        if (j.success) {
          $('#msg').classList.add('hidden');

          // draw bus
          const bus = new Bus(j);
          bus.draw();
          map.setView(bus.latlon, 14);
          console.log(bus);
        } else {
          $('#msg').innerText = 'AVTOBUS 206 NI BIL NAJDEN.';
        }
      })();
    </script>
  </body>
</html>
