<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <style>
      * {
        font-family: Menlo, monospace;
        font-size: 12px;
      }

      html,
      body {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div><%- msg || "ERROR" %></div>
  </body>
</html>
