<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="/static/css/form.css" />
  </head>
  <body class="flex-center">
    <div id="bg"></div>
    <div id="main" class="hidden">
      <div class="live-dot-container" @click="autoRefresh = !autoRefresh">
        <div class="live-dot" :class="{live: autoRefresh}"></div>
      </div>

      <div class="block">
        <!-- INPUT SECTION -->
        <div class="section" id="input">
          <input
            type="text"
            name="postaja"
            placeholder="postaja"
            autocomplete="off"
            spellcheck="false"
            v-model="input"
            @input="onInput"
          />
          <div class="reset flex-center" @click="resetInput" v-if="input">x</div>
        </div>

        <!-- NEDAVNA ISKANJA SECTION -->
        <div class="section postaje" v-if="!input && filteredHistory.length">
          <div class="postaja" v-for="stop in filteredHistory" @click="input = stop.name">{{ stop.name }}</div>
        </div>

        <!-- ISKANJE FILTER SECTION -->
        <div class="section postaje" v-if="searchResults.length">
          <div
            class="postaja"
            :class="{selected: input === stopName}"
            v-for="stopName in searchResults"
            @click="onInput() || (input = stopName)"
          >
            {{ stopName }}
          </div>
        </div>

        <!-- POSTAJE MOŽNOSTI SECTION -->
        <div class="section postaje" v-if="stopOptions.length">
          <div
            v-for="option in stopOptions"
            class="postaja"
            @click="selectStop(option.ref_id)"
            :class="{selected: selectedStop.ref_id === option.ref_id}"
          >
            {{ option.text }}
          </div>
        </div>

        <!-- LINIJE SECTION -->
        <div class="section" id="linije" v-if="!loading && arrivals.length">
          <div class="linija" v-for="r in arrivals">
            <div class="stevilka" @click="showMap(r[0].key)">{{ r[0].key }}</div>
            <span
              class="prihodi"
              @click="eta=!eta"
              :style="{'text-decoration':dataExpired?'line-through':''}"
              >{{ r.map(i=>(eta?i.minutes+' min':i.time)).slice(0,3).join(', ') }}</span
            >
          </div>
        </div>

        <span id="loadingText" v-if="loading">nalaganje ..</span>
        <span id="emptyText" v-if="selectedStop.name && !loading && !arrivals.length">ni rezultatov.</span>
      </div>
    </div>

    <img src="/static/img/bus.png" alt="" id="busek" />

    <script>
      // add stop history
      <% if (typeof stopHistory === 'object') { %>
        console.log([<%- stopHistory %>]);
        localStorage.stopHistory = [<%- stopHistory %>];
        // TODO: remove query from url (popstate)
        // FIXME: zakaj mora bit []??
      <% } %>

      // busek
      const $ = (sel) => document.querySelector(sel);
      const random = (min, max) => min + Math.random() * (max - min);

      function izletek() {
        $('#busek').style.animation = '';
        setTimeout(() => ($('#busek').style.animation = `izletek ${window.innerWidth / 50}s linear`), 100);
        $('#busek').onanimationend = () => setTimeout(izletek, random(100_000, 300_000));
      }

      function randomBG() {
        const prevNum = localStorage.getItem;
        const today = Math.floor(new Date().valueOf() / (1000 * 60 * 60 * 24));
        const num = today % 5;
        document.body.style.backgroundImage = `url('/static/img/SNEZINKE/${num}.jpeg')`;
      }

      setTimeout(izletek, random(100_000, 300_000));
      // randomBG();
    </script>

    <!-- <script src="/static/js/vue.global.js"></script> -->
    <script src="https://unpkg.com/vue@3.2.47/dist/vue.global.prod.js"></script>
    <script src="/static/js/stops.js"></script>
    <script src="/static/js/form.js"></script>
  </body>
</html>
