<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <!-- <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" /> -->
    <style>
      * {
        font-family: Menlo, monospace;
        font-size: 13px;
      }
      table,
      th,
      td {
        border: 1px solid;
      }

      table {
        border-collapse: collapse;
      }
    </style>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
  </head>
  <body>
    <div id="wrapper1"></div>

    <script>
      const log_data = <%- JSON.stringify(data) %>;
      const grid1 = new gridjs.Grid({
        // columns: ['instanceId', 'ip', 'stopHistory', 'userAgent'],
        data: log_data.users
      }).render(document.getElementById('wrapper1'));
    </script>
  </body>
</html>
