<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
    <style>
      .live-dot {
        box-sizing: border-box;
        z-index: 1000;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 12px;
        height: 12px;
        background: red;
        border: 2px solid black;
        border-radius: 50%;
        animation: blink 1s ease-in infinite alternate;
        opacity: 0.9;
      }

      @keyframes blink {
        from {
          background: rgb(253, 52, 52);
        }
        to {
          background: rgb(150, 52, 52);
        }
      }
    </style>
  </head>
  <body class="flex-center">
    <div id="map"></div>
    <div class="live-dot"></div>

    <script>
      const routes = <%- JSON.stringify(routes) %>;
    </script>

    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"></script>
    <!-- prettier-ignore -->
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    <script src="/public/Store.js"></script>
    <script src="/public/leaflet.rotatedMarker.js"></script>
    <script src="/public/Lines.js"></script>
    <script src="/public/Bus.js"></script>
    <script src="/public/map.js"></script>
  </body>
</html>
