<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/public/vendor/leaflet/leaflet.css" />
    <script src="/public/vendor/leaflet/leaflet.js"></script>
  </head>
  <body class="flex-center">
    <div id="map"></div>
    <script src="/public/map.js"></script>
  </body>
</html>
