<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
  <title>Objavljeno!</title>

  <style>
    body {
      padding: 15px;
      flex-direction: column;
    }
  </style>
</head>
<body class="flex-center">
  <h3>Objavljeno!</h3>
  <p>Vrni se <a href="<%- return_link %>">nazaj</a></p>
</body>
</html>