<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/busbus/public/css/vendor/leaflet.css" />
    <link rel="stylesheet" href="/busbus/public/css/vendor/L.Control.Locate.css" />
    <link rel="stylesheet" href="/busbus/public/css/zemljevid.css" />
  </head>
  <body class="flex-center">
    <%- include('./partials/body-common'); %>

    <div id="mapContainer">
      <button class="back-button">← nazaj</button>
      <div id="map"></div>
      <%- include('partials/bus-info') %>
    </div>

    <div class="live-dot live"></div>

    <% if (station_loc) { %>
    <script>
      window.station_loc = <%- JSON.stringify(station_loc) %>;
    </script>
    <% } %>

    <script src="/busbus/public/js/vendor/leaflet@1.9.2.js"></script>
    <script src="/busbus/public/js/vendor/leaflet.rotatedMarker.js"></script>
    <script src="/busbus/public/js/vendor/L.Control.Locate.min.js"></script>
    <script src="/busbus/public/js/vendor/leaflet.geometryutil.min.js"></script>
    <script src="/busbus/public/js/zemljevid.js"></script>
  </body>
</html>
