:root {
  // --bg-image: url('/static/img/sakura.jpeg');
  --bg-image: url('/static/img/leaves_wc.jpg');
}

// $color-primary: #f5c3d5;
// $color-secondary: #e7d8ed;
$color-primary: #d5ebc0;
$color-secondary: #d8edea;
// christmas: lightcoral (primary); hsl(173, 35%, 82%) (secondary)

* {
  font-family: Menlo, Consolas, monospace;
  font-size: 12px;
  font-weight: bold;
  box-sizing: border-box;
}

body {
  align-items: flex-start !important;
}

#bg {
  background: var(--bg-image);
  background-size: 600px;
  background-position: top center;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  // overflow: hidden;

  &::after {
    content: '';
    background: #ffffff99;
    // background: #ff000099;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

input,
button {
  border: 2px solid black;
  padding: 3px 5px;
  outline: none;
  border-radius: 0;
}

#main {
  margin-top: 20vh;
  padding-bottom: 5rem !important;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

// --- BLOCK = glavna reč na sredini

.block {
  background: #eee;

  width: 250px;

  border: 2px solid;
  padding: 1.25rem;

  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  border-radius: 10px;
}

// --- SECTIONS

#input {
  position: relative;

  input {
    width: 100%;
  }

  div.reset {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 23px;
    cursor: pointer;
  }
}

.postaje {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;

  user-select: none;

  .postaja {
    min-width: 15px;
    padding: 3px 7px;
    background: #ccc;
    border: 2px solid black;
    border-radius: 50px;

    cursor: pointer;
    text-align: center;

    &:hover {
      background: darken(#ccc, 5);
    }

    &.selected {
      background: $color-primary;

      &:hover {
        background: darken($color-primary, 5);
      }
    }
  }
}

#linije {
  display: flex;
  flex-direction: column;
  gap: 10px;

  user-select: none;

  .linija {
    display: flex;
    align-items: center;
    gap: 6px;

    .stevilka {
      padding: 3px;
      min-width: 30px; // 30 px "19I"
      text-align: center;

      background: $color-secondary;
      border: 2px solid black;

      cursor: pointer;

      &:hover {
        background: darken($color-secondary, 5);
      }
    }

    .prihodi {
      background: white;
      border: 2px solid black;
      padding: 3px 5px;
      cursor: pointer;
      user-select: none;
    }
  }
}

// --- BUSEK

#busek {
  z-index: -1;
  position: fixed;
  bottom: -7px;
  left: -50px;
  width: 30px;
  pointer-events: none;
}

@keyframes izletek {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(calc(100vw + 50px), 0, 0);
  }
}
