* {
  font-family: Menlo, Consolas, monospace;
  font-size: 11px;
  font-weight: bold;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  align-items: flex-start !important;
  // background: url("/static/img/bg_pattern.png");
}

input,
button {
  border: 2px solid black;
  padding: 3px 5px;
  outline: none;
  border-radius: 0;
  appearance: none;
}

#main {
  margin-top: 25vh;
  padding-bottom: 10rem !important;
}

.block {
  background: #eee;

  width: 250px;

  border: 2px solid;
  padding: 1.25rem;

  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  // box-shadow: 5px 5px 0 #00000033;
}

// --- SECTIONS

#input {
  position: relative;

  input {
    width: 100%;
  }

  div.reset {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 22px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    // background: #00000011;

    // &:hover {
    //   background: #00000022;
    // }
  }
}

#postaje,
#zgodovina {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;

  user-select: none;

  .postaja {
    // padding: 3px;
    min-width: 15px;
    text-align: center;

    border-radius: 50px;
    padding: 3px 7px;

    border: 2px solid black;

    cursor: pointer;

    background: #ccc;

    &:hover {
      background: darken(#ccc, 5);
    }

    &.selected {
      background: lightcoral;

      &:hover {
        background: darken(lightcoral, 5);
      }
    }
  }
}

#zgodovina {
  .postaja {
    background: lightblue;

    &:hover {
      background: darken(lightblue, 5);
    }
  }
}

#linije {
  display: flex;
  flex-direction: column;
  gap: 10px;

  user-select: none;

  .linija {
    display: flex;
    align-items: center;
    gap: 6px;

    .stevilka {
      padding: 3px;
      min-width: 30px; // 30 px "19I"
      text-align: center;

      background: lightgoldenrodyellow;
      border: 2px solid black;

      cursor: pointer;

      &:hover {
        background: lightblue;
      }
    }

    .prihodi {
      background: white;
      border: 2px solid black;
      padding: 3px 5px;
      cursor: pointer;
      user-select: none;
    }
  }
}

// ---

#busek {
  z-index: -1;
  position: fixed;
  bottom: -7px;
  left: -50px;
  width: 30px;
  pointer-events: none;
}

@keyframes izletek {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(calc(100vw + 50px), 0, 0);
  }
}

[x-cloak] {
  display: none !important;
}
