// -- -mixins

@mixin button {
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      filter: brightness(95%);
    }
  }

  &:active,
  &[data-touched] {
    filter: brightness(85%);
    box-shadow: inset 0 2px #00000033;
  }

  box-shadow: inset 0 -2px #00000033;
}

$shadow-pixelart: inset 0 -2px #00000033;

// --- body styles

body {
  --color-primary: #d4e4e9;
  --color-secondary: #d4e4e9;

  &.pomlad {
    --bg-image: url('../img/bg/pomlad.png');
    --color-primary: #d4e4e9; // pomlad 1
    --color-secondary: #daf2d3; // pomlad 2 // #ddf7d6 (zelena) #f4dfe4 (roza)
    // --color-primary: #f5c3d5; // sakura 1
    // --color-secondary: #e7d8ed; // sakura 2
  }

  &.poletje {
    --bg-image: url('../img/bg/poletje.jpg');
    --color-primary: #f2c5d1; // pomlad 1
    --color-secondary: #dbf9cd; // pomlad 2
  }

  &.jesen {
    --bg-image: url('../img/bg/jesen.jpg');
    --color-primary: #f2dab7; // jesen 1
    --color-secondary: #e8e8e8; // jesen 2
  }

  &.zima {
    --bg-image: url('../img/bg/zima.jpeg');
    --color-primary: lightcoral; // christmas 1
    --color-secondary: hsl(173, 35%, 82%); // christmas 2
  }
}

* {
  font-family: Menlo, Consolas, monospace;
  font-size: 12px;
  font-weight: bold;
  box-sizing: border-box;
  user-select: none;
}

body {
  align-items: flex-start !important;
}

#bg {
  background: var(--bg-image);
  background-size: 300px;
  background-position: top center;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  // overflow: hidden;

  &::after {
    content: '';
    background: #ffffff99;
    // background: #ff000099;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

input,
button {
  border: 2px solid black;
  padding: 3px 5px;
  outline: none;
  border-radius: 0;
}

#main {
  margin-top: 20vh;
  padding-bottom: 5rem !important;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

// --- BLOCK = glavna reč na sredini

.block {
  background: #eee;

  width: 250px;

  border: 2px solid;
  padding: 1.25rem;

  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  border-radius: 10px;
  box-shadow: 6px 6px 0 #00000033, $shadow-pixelart;
}

// --- SECTIONS

#input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 3px;

  input {
    width: calc(100% - 23px);
    border-radius: 3px;
  }

  div.reset {
    @include button;

    height: 100%;
    width: 23px;
    padding: 3px;
    background: #ccc;
    border: 2px solid black;
    border-radius: 3px;
  }
}

.postaje {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;

  .postaja {
    @include button;

    min-width: 15px;
    padding: 3px 7px;
    background: #ccc;
    border: 2px solid black;
    border-radius: 50px;

    text-align: center;

    // box-shadow: inset 0 -2px #00000033;

    &.selected {
      background: var(--color-primary);
    }
  }
}

#linije {
  display: flex;
  flex-direction: column;
  gap: 10px;

  user-select: none;

  .linija {
    display: flex;
    align-items: center;
    gap: 6px;

    .stevilka {
      @include button;

      padding: 3px;
      min-width: 30px;
      text-align: center;

      background: var(--color-secondary);
      border: 2px solid black;
    }

    .prihodi {
      display: flex;
      // gap: 3px;
      cursor: pointer;
      background: white;
      border: 2px solid black;
      white-space: nowrap;

      span {
        padding: 3px 5px;
        user-select: none;
        pointer-events: none;
        display: flex;

        &:not(:last-of-type)::after {
          content: ',';
        }

        &.garaza {
          background: lightgray;
        }
      }
    }
  }
}

// --- NAV

.tracker-shortcut {
  position: fixed;
  top: 14px;
  left: 14px;

  img {
    width: 15px;
  }
}

.live-dot-container {
  z-index: 1000;
  position: fixed;
  top: 5px;
  right: 5px;
  padding: 10px;

  display: flex;
  align-items: center;

  border-radius: 50%;

  .live-dot {
    width: 12px;
    height: 12px;
    background: #eee;
    border: 2px solid black;
    border-radius: 50%;
    opacity: 0.9;

    &.live {
      animation: blink 1.5s ease-in infinite alternate;
    }
  }
}

@keyframes blink {
  from {
    background: rgb(253, 52, 52);
  }
  to {
    background: rgb(150, 52, 52);
  }
}

// --- BUSEK

#busek {
  z-index: -1;
  position: fixed;
  bottom: -7px;
  left: -50px;
  width: 30px;
  pointer-events: none;
}

@keyframes izletek {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(calc(100vw + 50px), 0, 0);
  }
}
