* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;

  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}

body.loading {
  #loading-bar {
    display: block;
  }
}

::selection {
  background: lightblue;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button[disabled] {
  cursor: default;
}

a.home {
  position: absolute;
  z-index: 1000;
  color: gray;
  /* font-weight: bold; */
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 3px;
  font-family: Menlo, Consolas, monospace;
  text-decoration: none;
  font-size: 13px;
  opacity: 0.9;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

#loading-bar {
  width: 110vw;
  height: 4px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  display: none;

  $width: 8px;
  $color-1: lightcoral;
  $color-2: darken($color-1, 10);
  background-position-x: 0;
  background-repeat: repeat-x;
  background-image: repeating-linear-gradient(90deg, $color-1, $color-1 $width, $color-2 $width, $color-2 2 * $width);

  animation: 0.3s linear infinite loading;

  @keyframes loading {
    from {
      transform: translateX(-2 * $width);
    }
    to {
      transform: translateX(0);
      // background-position-x: 100vw;
    }
  }
}
