html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

::selection {
  background: lightblue;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  height: 80%;
  width: 80%;
  border: 2px solid;
  box-shadow: 7px 7px 0 #ddd;
  outline: none;
}

a.home {
  position: absolute;
  z-index: 1000;
  color: gray;
  /* font-weight: bold; */
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 3px;
  font-family: Menlo, Consolas, monospace;
  text-decoration: none;
  font-size: 13px;
  opacity: 0.9;
}

.live-dot-container {
  // border: 1px solid violet;
  z-index: 1000;
  position: fixed;
  top: 5px;
  right: 5px;
  padding: 10px;

  display: flex;
  align-items: center;

  border-radius: 50%;
  cursor: pointer;

  .live-dot {
    width: 12px;
    height: 12px;
    background: #eee;
    border: 2px solid black;
    border-radius: 50%;
    opacity: 0.9;

    &.live {
      animation: blink 1.5s ease-in infinite alternate;
    }
  }
}

@keyframes blink {
  from {
    background: rgb(253, 52, 52);
  }
  to {
    background: rgb(150, 52, 52);
  }
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}